{{- if and .Values.web.enabled .Values.web.service }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vastaya.web.name" . }}
  labels:
    {{- include "vastaya.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - port: {{ .Values.web.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "vastaya.web.selectorLabels" . | nindent 4 }}
{{- end }}
